.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerText{
    text-align: center;
}

.fixedNavbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Zorgt ervoor dat de navbar boven andere elementen ligt */
}